
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

//variables

$colorPrincipal:#72ECA3;
$colorSecundario:#00746F;
$white: #FFFFFF;
$black: #000000;

//fuente

$fuente:'Roboto', sans-serif;

*{
    font-family: $fuente;
}
  
